Repository biometricITC/cPP-biometrics, pull requests merged in 2020-05, with the labels that each got.

#279 Update BS_SD.adoc
  4_Methodology/BS_SD.adoc
Labels: SD

#277 Update BiocPP.adoc
  3_ProtectionProfile/BiocPP.adoc
Labels: cPP

#276 Update PP_Config.adoc
  3_ProtectionProfile/PP_Config.adoc
Labels: PP-Config

#278 Update BS_SD.adoc
  4_Methodology/BS_SD.adoc
Labels: SD

#283 Glossary update
  3_ProtectionProfile/BiocPP.adoc
Labels: cPP

#284 Acronym update
  4_Methodology/BS_SD.adoc
Labels: SD

#285 Updates for public release
  3_ProtectionProfile/BiocPP.adoc
  3_ProtectionProfile/PP_Config.adoc
  4_Methodology/BS_SD.adoc
Labels: PP-Config, SD, cPP
