Repository biometricITC/cPP-biometrics, pull requests merged in 2020-02, with the labels that each got.

#231 add Biometric to Features in glossary
  3_ProtectionProfile/BiocPP.adoc
Labels: Mobile use case, Public Review

#232 strengthen statement against plaintext transmission
  4_Methodology/BS_SD.adoc
Labels: Public Review, Supporting Doc

#234 full name of PP-Module
  3_ProtectionProfile/BiocPP.adoc
Labels: Mobile use case, Public Review

#244 Fix assorted typos and grammar in SD
  4_Methodology/BS_SD.adoc
Labels: Public Review, Supporting Doc

#246 Update to use case 1
  3_ProtectionProfile/BiocPP.adoc
Labels: Mobile use case, Public Review

#247 Change FPT_BDP_EXT.2 label
  3_ProtectionProfile/BiocPP.adoc
Labels: Mobile use case, Public Review

#248 remove data from storage subsystem
  3_ProtectionProfile/BiocPP.adoc
Labels: Mobile use case, Public Review

#251 BIOSD changes everywhere
  3_ProtectionProfile/BiocPP.adoc
  3_ProtectionProfile/PP_Config.adoc
  4_Methodology/BS_SD.adoc
Labels: Mobile use case, Public Review, Supporting Doc

#228 Edit enrolment templates criteria
  4_Methodology/BS_SD.adoc
Labels: Public Review, Supporting Doc

#226 Add errors to AGD statement
  4_Methodology/BS_SD.adoc
Labels: Public Review, Supporting Doc

#229 Change conditional for auth templates
  4_Methodology/BS_SD.adoc
Labels: Public Review, Supporting Doc

#249 PAD order in description
  3_ProtectionProfile/BiocPP.adoc
Labels: Mobile use case, Public Review

#250 Change to forward
  4_Methodology/BS_SD.adoc
Labels: Public Review, Supporting Doc

#257 update based on #235
  4_Methodology/BS_SD.adoc
Labels: Public Review, Supporting Doc

#258 Update for removing admin
  3_ProtectionProfile/BiocPP.adoc
Labels: Mobile use case, Public Review

#245 added definitions for figure 1
  3_ProtectionProfile/BiocPP.adoc
Labels: Mobile use case, Public Review

#213 sync for O.Protection, OE.Protection
  3_ProtectionProfile/BiocPP.adoc
Labels: Mobile use case, Public Review

#252 Eval timeframe
  4_Methodology/BS_SD.adoc
Labels: Public Review, Supporting Doc

#261 Update PP_Config.adoc
  3_ProtectionProfile/PP_Config.adoc
Labels: Public Review, Supporting Doc

#260 demographic update
  4_Methodology/BS_SD.adoc
Labels: Public Review, Supporting Doc

#230 add test step to FIA_MBV_EXT.2
  4_Methodology/BS_SD.adoc
Labels: Public Review, Supporting Doc
