Repository biometricITC/cPP-biometrics, pull requests merged in 2021-06, with the labels that each got.

#327 BMD descriptions
  Supporting Documents/BS_SD.adoc
Labels: In Progress, SD

#335 Changes to have less MDF changes
  Protection Profile/BiocPP.adoc
  Supporting Documents/BS_SD.adoc
Labels: In Progress, SD, cPP

#333 Update SFR Direction
  Protection Profile/BiocPP.adoc
Labels: In Progress

#334 FPT_BDP_EXT_change
  Protection Profile/BiocPP.adoc
  Supporting Documents/BS_SD.adoc
Labels: In Progress, SD, cPP

#330 Expansion of FPT_BDP_EXT
  Protection Profile/BiocPP.adoc
  Supporting Documents/BS_SD.adoc
Labels: In Progress, SD, cPP

#337 Update BiocPP.adoc
  Protection Profile/BiocPP.adoc
Labels: In Progress, cPP

#338 editorial edits
  Protection Profile/BiocPP.adoc
  Supporting Documents/BS_SD.adoc
Labels: In Progress, SD, cPP

#344 Edit to point to quality papers
  Supporting Documents/BS_SD.adoc
Labels: In Progress, SD

#350 New artefact test modification
  Supporting Documents/BS_SD.adoc
Labels: In Progress, SD

#351 Strict guidance mod
  Protection Profile/BiocPP.adoc
  Supporting Documents/BS_SD.adoc
Labels: In Progress, SD, cPP

#346 FPT_BDP_EXT.1 EA update
  Supporting Documents/BS_SD.adoc
Labels: In Progress, SD

#349 Strict Guidance update
  Protection Profile/BiocPP.adoc
  Supporting Documents/BS_SD.adoc
Labels: In Progress, SD

#347 IAPAR update
  Protection Profile/BiocPP.adoc
  Supporting Documents/BS_SD.adoc
Labels: In Progress, SD, cPP
